.header
	&__wrap
		position: relative
		z-index: 100
	&-row
		+row-flex
		background-color: $colors__white
		font-size: 1.4rem
		text-transform: uppercase
		align-items: center
		min-height: 100px
		position: absolute
		width: 100%
		&.fixed
			z-index: 999
			width: 100%
			position: fixed
	&-logo
		+size(2)
		+size-md(3)
		text-align: center
		vertical-align: middle
	&-menu
		+size(7)
		display: flex
		flex-flow: row wrap
		justify-content: flex-end
		transition: all 0.5s
		@include _768
			display: none
		&__item
			margin-right: 30px
			@include _768
				margin-bottom: 10px
				padding: 10px 20px 0 0
				font-size: 2.2rem
				width: 100%
				text-align: right
		&__link
			position: relative
			&::before
				content: ''
				position: absolute
				width: 0
				height: 1px
				top: 100%
				background: #000000
				left: 0px
				right: 0
				transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)
			&:hover
				&::before
					width: 100%
					right: 0px
	&-add
		display: flex
		flex-flow: row wrap
		justify-content: flex-end
		+size(3)
		+size-md(9)
		+size-sm(8)
		&__search
			margin-right: 30px
			@include _480
				margin-right: 10px
				margin-left: 5px

.header-mobile-menu
	opacity: 0
	display: flex
	flex-direction: column
	justify-content: center
	position: absolute
	top: -400px
	left: 0
	background-color: $colors__white
	height: 0
	width: 100vw
	text-align: center
	font-size: 2rem
	transition: all 0.4s
	&__link
		padding: 15px 0
		text-transform: uppercase
	&-socials
		display: flex
		flex-flow: row nowrap
		justify-content: space-evenly
		align-items: center
		margin: 10px 0
	&.active
		z-index: 100
		top: 0
		opacity: 1
		height: 100vh
