@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  display: inline-block;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/CormorantGaramond-Regular.eot");
  src: url("../fonts/CormorantGaramond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond-Regular.woff") format("woff"), url("../fonts/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 3.2rem;
  color: #212122;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
  text-transform: none;
}

h2 {
  font-size: 2.8rem;
  color: #212122;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.7;
}

h3 {
  font-size: 2.4rem;
  color: #212122;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  line-height: 1.7;
  text-transform: none;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  color: #212122;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  line-height: 1.7;
  text-transform: none;
  font-style: normal;
}

h5 {
  font-size: 1.6rem;
  color: #212122;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  line-height: 1.7;
  text-transform: none;
  font-style: normal;
}

h6 {
  font-size: 1.4rem;
  color: #212122;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  line-height: 1.7;
  text-transform: none;
  font-style: normal;
}

.title {
  line-height: 1.7;
  margin-bottom: 24px;
}

.text {
  font-size: 1.8rem;
  line-height: 24px;
  color: #212122;
}

.link {
  text-decoration: underline;
  margin-top: 130px;
  font-size: 1.6rem;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 45px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    z-index: 9999;
  }
}

.burger__span {
  position: absolute;
  top: 50%;
  margin-top: 1.5px;
  left: 50%;
  margin-left: -12.5px;
  width: 25px;
  height: 3px;
  background-color: #000;
}

.burger__span::before, .burger__span::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -12.5px;
  width: 25px;
  height: 3px;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger__span::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger__span::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.burger.active span {
  height: 0;
}

.burger.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

html {
  font-size: 8px;
}

@media (min-width: 480px) {
  html {
    font-size: calc( 0.0029 * 100vw + 6.6087px);
  }
}

@media (min-width: 1170px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Open Sans Regular";
  font-weight: 400;
  line-height: 1.7;
  color: #212122;
  overflow-x: hidden;
  background-color: #ffffff;
  background: url(../img/body-bg.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-y;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.pacifico {
  font-family: "Pacifico";
}

.header__wrap {
  position: relative;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #ffffff;
  font-size: 1.6rem;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 140px;
  position: absolute;
  width: 100%;
}

.header-row.fixed {
  z-index: 999;
  width: 100%;
  position: fixed;
}

.header-logo {
  width: calc(16.66667% - 30px);
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .header-logo {
    width: calc(25% - 30px);
  }
}

.header-menu {
  width: calc(58.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }
}

.header-menu__item {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .header-menu__item {
    margin-bottom: 10px;
    padding: 10px 20px 0 0;
    font-size: 2.2rem;
    width: 100%;
    text-align: right;
  }
}

.header-menu__link {
  position: relative;
}

.header-menu__link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  top: 100%;
  background: #000000;
  left: 0px;
  right: 0;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.header-menu__link:hover::before {
  width: 100%;
  right: 0px;
}

.header-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(25% - 30px);
}

@media screen and (max-width: 768px) {
  .header-add {
    width: calc(75% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .header-add {
    width: calc(66.66667% - 30px);
  }
}

.header-add__search {
  margin-right: 30px;
}

.header-mobile-menu {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 0;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-mobile-menu__link {
  padding: 15px 0;
  text-transform: uppercase;
}

.header-mobile-menu.active {
  opacity: 1;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */