html
	@include fluidFontSize($font-size--small, $font-size--base)
body
	font-family: $font-family__lato
	font-weight: $font-weight__lato--regular
	line-height: $line-height
	color: $colors__text
	overflow-x: hidden
	background-color: $colors__white
	background: url(../img/body-bg.svg)
	background-position: center center
	background-size: cover
	background-repeat: repeat-y
.container
	max-width: 1165px
	margin: 0 auto
	padding-left: 30px
	padding-right: 30px
	@include _480
		padding-left: 15px
		padding-right: 15px
.pacifico
	font-family: "Pacifico"
.section-header
	padding: 5em 0 3em
	text-align: center
	position: relative
	&__big
		font-family: $font-family__lato
		position: absolute
		top: -70px
		left: 0
		right: 0
		font-size: 15rem
		color: rgba(0, 0, 0, 0.04)
		font-weight: $font-weight__lato--bold
		letter-spacing: 1px
	&__title
		letter-spacing: 0.05em
		text-transform: uppercase
		margin-bottom: 20px
	&__separator
		width: 47px
		height: 34px
		background-image: url(../img/separator.png)
		display: block
		margin: 0 auto
		position: relative
		&::before
			content: ""
			display: block
			width: 40px
			height: 1px
			background: #dadada
			margin-right: 10px
			position: absolute
			right: 100%
			top: 50%
		&::after
			content: ""
			display: block
			width: 40px
			height: 1px
			background: #dadada
			margin-left: 10px
			position: absolute
			left: 100%
			top: 50%

.flickity-prev-next-button.previous
	left: -30px
.flickity-prev-next-button.next
	right: -30px
.flickity-button
	transition: all 0.3s
	background-color: transparent
	@include _768
		display: none
	&:hover
		background-color: transparent
.flickity-button-icon
	transition: all 0.3s
	fill: $colors__primary
	&:hover
		fill: $colors__base
