html
	@include fluidFontSize($font-size--xsmall, $font-size--base)
body
	font-family: $font-family__open
	font-weight: $font-weight__open--regular
	line-height: $line-height
	color: $colors__text
	overflow-x: hidden
	background-color: $colors__white
	background: url(../img/body-bg.svg)
	background-position: center center
	background-size: cover
	background-repeat: repeat-y
.container
	+wrapper
.pacifico
	font-family: "Pacifico"
